.body{
    background-color: black;
}

.container{
    text-align:center;
    margin-top:250px;
    
}
button{
    background-color:black;
    border:2px solid white;
    color:white;
    padding:5px;
    border-radius:3px;
}
